header {
    font-family: Georgia, 'Times New Roman', Times, serif;

    background-color: #ffffff;
    color: #000000;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 59px; /* Adjust as needed */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

nav a {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    font-weight: lighter;
    transition: color 0.3s;
    font-size: 20px;
    
}

nav a:hover {
    color: #21a0f6;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #000000;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #21a0f6;
}
